<div class="row">
  <div class="col-sm">
    <div class="card bg-warning">
      <div class="card-body">
        <h3 class="card-title">Decimal to Binary Convertor</h3>
        <hr />
        <div class="row">
          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <h6 class="card-text" style="padding-bottom: 5px">
                  Enter Decimal Number
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <input
                  id="decimal-number"
                  type="text"
                  class="form-control"
                  [(ngModel)]="decimalNumber"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Enter a decimal number"
                  (keyup)="validate($event.target.value)"
                /><!--Event Binding for keyup and two way binding for value to decimalNumber-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr />
      <div *ngIf="decimalNumber | binaryString">
        <div class="alert alert-success" role="alert">
          <strong>
            Binary representation of
            <!-- Attribute binding-->
            <input type="button" class="btn btn-primary btn-sm" [value]="decimalNumber" />
            is
            <span id="binaryNumber" class="btn btn-danger btn-sm">{{
              decimalNumber | binaryString
            }}</span>
          </strong>
        </div>
      </div>
      <div *ngIf="errorText">
        <div class="alert alert-danger" role="alert">
          <!-- Interpolation-->
          <strong>{{ errorText }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
